# Python
__pycache__/
*.pyc

# Virtual environments
venv/
dataflow/venv/

# System files
.DS_Store

# Pytest cache
.pytest_cache/

# Terraform state
terraform/*.tfstate
terraform/*.tfstate.backup

# Ignore test_pipeline.py if you want
tests/test_pipeline.py