# Ignore everything
*

# But not these files/folders
!.gitignore
!.github/
!data/
!dataflow/
!dataflow/pipeline.py
!sql/
!terraform/
!terraform/main.tf
!terraform/variables.tf
!tests/
!tests/CI_CD_pipeline_test.py
!High Level.png
!Low Level.png
!README.md